<div class="row  my-4">
    <div class="col-lg-12">
        <h2>YOUR CHARTER SCHOOL</h2>
        <h2>FY2022-2023 Charter FIRST Forecast as of January 31, 2023</h2>
    </div>
</div>

<table class="dataframe">
    <thead class="custom-header">
        <tr style="text-align: center; font-weight: bold;">
        <td>FIRST Rating Indicators</td>
        <td>Expected Results</td>
        <td>Points</td>
        <td>Status</td>
        <td>Notes</td>
        </tr>
    </thead>
    <tbody>
        {% for entry in data.first %}
        <tr>
            <td>{{ entry.first_ratings }}</td>
            <td>{{ entry.expected_results }}</td>
            <td>{{ entry.points }}</td>
            <td>{{ entry.status }}</td>
            <td>{{ entry.notes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>