
<div class="card">
    <div class="card-body">
        <div class="head-container">
            <h1>Your Charter School</h1>
            <h1>Upload your data below to view it in the tabs</h1>
            <form method="post" action="{% url 'data_upload' %}" class="form-upload" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <input type="file" name="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
                    <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>






